h3 {
    text-transform: capitalize;
}
span {
    margin-left: 20px;
    font-size: 20px;
    vertical-align: middle;
}
.default{
    margin: 0;
    font-size: 16px;
}
.btn-right{
    float: right;
    margin-right: 5px;
}
.btn-left{
    float: left;
    margin-left: 5px;
}
.btn-large{
    width:100px;
}
.black{
    color: #000;
    width:100%;
    display:block;
}
.black:hover{
    text-decoration: none;
    color:#000;
}
.table th, .table td{
    vertical-align:middle;
    line-height:32px;
}
.table .button{
    float:right;
    margin-left:10px;
    color:#fff;
}
.table .button:hover{
    color:#fff;
}
.table-schedule{
    text-align: center;
}
.table-schedule td i{
    vertical-align:middle;
}
.table-schedule td {
    width: 200px;
}
.time{
    width:100px;
}
.table .button2{
    color: #fff;
}
.table .button2:hover{
    color: #fff;
}
table.table-bordered > thead > tr > th{
    border:1px solid #b7b7b7;
}
table.table-bordered > tbody > tr > th{
    border:1px solid #b7b7b7;
}
table.table-bordered > tbody > tr > td{
    border:1px solid #b7b7b7;
}
.table-grades a{
    color:#fff;
}
.table-grades a:hover{
    color:#fff;
}
.table-grade{
    min-width:230px;
}
.card-header{
    font-size:20px;
    line-height:35px;
}
.card-body{
    font-size:18px;
}
#search-responsive {
    display:none;
}
#search-responsive input {
    width:220px;
}
#navbar{
    height:56px;
}
button{
    text-align: center; 
}
/* Media Queries */
@media(max-width: 991px){
    #search-responsive  {
        display: inline;
        white-space: nowrap;
    }
    #search{
        display: none;
    }
    #container{
        width:100%;
    }
    .table-schedule{
        min-width:900px;
        position:absolute;
        left:0;
    }
    #navbar{
        height:initial;
    }
   .navbar-toggler-icon{
        margin:0;
    }
}
@media (max-width: 767px) {
    .form-inline .form-control {
      vertical-align: middle;
    }
}
@media(max-width: 729px){
    .table-grades{
        min-width:729px;
    }
    #average{
        min-width:729px;
    }
    #addGrade{
        min-width:729px;
    }
}
@media(max-width: 576px){
    #container{
        width:100%;
        padding:5px;
    }
    #search-responsive  {
        width:80%;
    }
    #search-responsive input {
        width:70%;
    }
    #search-responsive button {
        width:60px;
        padding:6px;
    }
}